.header {
    border: 10px, black solid;
    padding: 30px;
    background: #1abc9c;
    color: white;
    font-size: 25px;
    display: flex;      
    font-family: monospace
}
.name{
    border: 1px black;
    padding: 10px;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
}

.language {
    font-size: 20px
}

.material-icons{
    padding: 2px;
    font-size: 10px;
    align-self: auto;
    display: flex;
} 

.contact{
    font-size: 20px;
    padding: 5px;
    display: flex;
}